vmess://ewogICJ2IjogIjIiLAogICJwcyI6ICJ2aXBfZnJ6MjUtYWRlbGxfZnJ6MjUiLAogICJhZGQiOiAiZnJ6MjUuc2lic3RvcmUuc3BhY2UiLAogICJwb3J0IjogNTYzNzIsCiAgImlkIjogIjY5MDljNTc5LTc4NzctNDI2Yy05ZWZjLWJkNGZjM2ZjZGJhMyIsCiAgIm5ldCI6ICJ0Y3AiLAogICJ0eXBlIjogImh0dHAiLAogICJ0bHMiOiAibm9uZSIsCiAgInBhdGgiOiAiLyIsCiAgImhvc3QiOiAienVsYS5pciIKfQ==
